html {
  background-color: lightblue;
}

h1 {
  background-color: lightcyan;
  color: darkblue;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#primeiroh1 {
  background-color: #078CEB;
}

.padraoh2 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: gold;
}
