html, body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
}

html {
    background-image: url(../CSS/img/bg.jpg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: transparent !important;
    width: 45rem;
    margin: 8rem auto;
    text-align: center;
}

.tabela {
    border-spacing: .4rem;
    border-collapse: separate;
    margin-top: .2rem;
}

th {
    font-weight: 700;
    text-transform: uppercase;
    color: #d1ba91;
    background-color: #2B2720;
    min-height: 2.5rem;
    width: auto;
    text-align: center !important;
    min-width: 4rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.thModificadores {
    border: 2px solid #2B2720;
    color: #2B2720;
    background-color: #FCE8C6;
    box-sizing: border-box;
}

.thHabilidades, .thModificadores, .thTotal{
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-size: .9rem;
}

.thTotal {
    color: #FCE8C6 !important;
    background-color: #6A0015 !important;
}

th span{
    display: block;
}

.thMenor {
    font-size: .5rem;
    line-height: .5rem;
    color: #CEB385;
    font-weight: 500;
}

.campoTabela {
    width: 4rem;
    height: 2.5rem;
    background-color: #DAC6A4;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    color: #2B2720;
    font-weight: 700;
    border: 2px solid #2B2720;
}

.total {
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-left: transparent;
    border-bottom: 2px solid #6A0015;
    color:#6A0015;
    background-color: transparent;
}