/*
  EXPRESSOES REGULARES
  = exatamente igual
  ^= inicia com
  $= termina com
  *= contem
*/

img[src = "imagem2.png"] {
    border-radius: 50%;
}

a[ href ^= "pasta1/"] {
    color: orange;
}

a[href ^= "pasta3/"] {
    color: red;
}

li[data-url*="promo"] {
    background-color: lightblue;
    font-weight: bold;
    border: 2px solid blue;
}